h1 {
    font-family: "Myanmar Text";

    font-size: 60px;
    color: white;
    text-align-all: center;
    padding-top: 1.75%;

}


body {
    text-align: center;
    background: rgb(169,165,237);
    background: linear-gradient(72deg, rgba(169,165,237,1) 0%, rgba(50,50,195,1) 50%, rgba(45,181,209,1) 100%);
}

th, td {
    color: white;
    text-align: center;

}

td, th {
    border-bottom: 3px solid white;
    border-bottom-collapse: collapse;
}

table {
    position: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: "Myanmar Text";
    letter-spacing: 3px;
    font-weight: normal;

}

input {
    margin-top: 22px
}

td[class="btnsInside"]{
    display: flex;
   justify-content: center;

}

input[class="btnsToSeparate"]{
    width: 80%;
    margin-right: 15px;
    margin-left: 15px;
}

td:first-child{
    font-weight: bold;
}


tr:first-child:hover{
    color: white;
}



a {
    color: white;
}